
<div class="div-card" *ngIf="imageInput">
  <mat-card fxLayout fxLayoutGap="20px">
        <span fxFlex="1 1 50%">
            <mat-card-header>
                <mat-card-title>{{imageInput.name}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <img class="shopImage" [src]="loadedImage" />
                <div>{{imageInput.name}}</div>
               <div class="break"></div>
              <div>{{imageInput.description}}</div>
<!--              <div class="break"></div>-->
<!--              <div>{{imageInput.photo_url}}</div> -->
            </mat-card-content>
        </span>
    <span fxFlex="1 1 50%">
            <mat-card-actions>
                <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
                    <div>
                        <mat-form-field>
                            <mat-label for="username">Username: </mat-label>
                            <input matInput type="text" formControlName="username" />
                        </mat-form-field>
                    </div>
                    <div class="break"></div>
                    <div>
                        <mat-form-field>
                            <mat-label for="comment">Shipping Data: </mat-label>
                            <textarea matInput rows="10" cols="50" formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="break"></div>
                    <div>
                        <button mat-raised-button color="primary" type="submit">Order</button>
                    </div>
                </form>
            </mat-card-actions>
        </span>

  </mat-card>
    <div *ngIf="comments.length">
        <table>
            <tr>
                <th>User</th>
                <th>Shipping Data</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let comment of comments; let i = index;"
                [ngStyle]="{'background-color' : i % 2 === 0 ? 'darkcyan' : 'cyan'}">
                <td>{{comment.username}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.date | dateFormat}}</td>
            </tr>
        </table>
</div>
</div>
